@using YemekSepeti.WebUI.Models
@model RestoranDetayViewModel

<h2>@Model.Restoran.RestoranAd</h2>
<h4>Menü</h4>

@if (!Model.Urunler.Any())
{
    <p>Bu restoranda henüz ürün bulunmuyor.</p>
}
else
{
    <!-- ÜRÜNLERİ KATEGORİYE GÖRE GRUPLAMA -->
    @foreach (var kategori in Model.Kategoriler)
    {
        <h3 class="mt-4">@kategori.UrunKategoriAd</h3>
        <hr />

        <div class="row">
            @foreach (var u in Model.Urunler.Where(x => x.UrunKategoriID == kategori.UrunKategoriID))
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0">

                        <img src="@u.FotoUrl"
                             class="card-img-top"
                             style="height:180px; object-fit:cover;" />

                        <div class="card-body">
                            <h5 class="card-title">@u.UrunAd</h5>
                            <p class="text-muted">@u.Aciklama</p>

                            <div class="d-flex justify-content-between">
                                <strong>@u.Fiyat TL</strong>

                                <button class="btn btn-primary btn-sm">
                                    <i class="bi bi-plus"></i>
                                    Ekle
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
